In [1]:
import pandas as pd

In [2]:
table_sched = pd.read_html('https://www.whostheref.com/data-feed.php?feed_id=24698712&feed_format=table&dbtu=rugby&date=future&show_time=1&title_row=2&single_apps_col=1')

In [3]:
df = table_sched[0]
df.columns=['Date', 'Time', 'Competition', 'Home', 'Away', 'Officials']

In [4]:
df_huns = df.loc[df['Home'].str.contains('Huns') | df['Away'].str.contains('Huns')]

In [5]:
df_huns1 = df_huns.loc[df_huns['Competition'].str.contains('D1')]
df_huns2 = df_huns.loc[df_huns['Competition'].str.contains('D2')]
df_huns3 = df_huns.loc[df_huns['Competition'].str.contains('D3')]

In [6]:
df_huns1

,Date,Time,Competition,Home,Away,Officials
16,Sat 11/20,15:30,TRU Men's Club D1,Austin Huns,Dallas Reds,NaN
54,Sat 12/18,15:30,TRU Men's Club D1,Rugby HTX,Austin Huns,NaN
68,Sat 01/15,15:30,TRU Men's Club D1,Austin Blacks,Austin Huns,NaN
106,Sat 01/29,15:30,TRU Men's Club D1,Austin Huns,Grand Prairie Mavericks,NaN
125,Sat 02/05,15:30,TRU Men's Club D1,Dallas Harlequins,Austin Huns,NaN
150,Sat 02/19,15:30,TRU Men's Club D1,Dallas Reds,Austin Huns,NaN
174,Sat 02/26,15:30,TRU Men's Club D1,Austin Huns,Rugby HTX,NaN
196,Sat 03/12,15:30,TRU Men's Club D1,Austin Huns,Austin Blacks,NaN
231,Sat 03/26,15:30,TRU Men's Club D1,Grand Prairie Mavericks,Austin Huns,NaN
253,Sat 04/02,15:30,TRU Men's Club D1,Austin Huns,Dallas Harlequins,NaN

In [7]:
df_huns2

,Date,Time,Competition,Home,Away,Officials
21,Sat 11/20,14:00,TRU Men's Club D2,Austin Huns II,Dallas Reds II,NaN
59,Sat 12/18,14:00,TRU Men's Club D2,Little Rock,Austin Huns II,NaN
72,Sat 01/15,14:00,TRU Men's Club D2,Austin Blacks II,Austin Huns II,NaN
108,Sat 01/29,14:00,TRU Men's Club D2,Austin Huns II,Fort Worth,NaN
129,Sat 02/05,14:00,TRU Men's Club D2,Dallas Athletic,Austin Huns II,NaN
154,Sat 02/19,14:00,TRU Men's Club D2,Dallas Reds II,Austin Huns II,NaN
177,Sat 02/26,14:00,TRU Men's Club D2,Austin Huns II,Little Rock,NaN
200,Sat 03/12,14:00,TRU Men's Club D2,Austin Huns II,Austin Blacks II,NaN
233,Sat 03/26,14:00,TRU Men's Club D2,Fort Worth,Austin Huns II,NaN
258,Sat 04/02,14:00,TRU Men's Club D2,Austin Huns II,Dallas Athletic,NaN

In [8]:
df_huns3

,Date,Time,Competition,Home,Away,Officials
25,Sat 11/20,14:00,TRU Men's Club D3,Austin Huns III,Dallas Reds III,NaN
79,Sat 01/15,14:00,TRU Men's Club D3,Austin Blacks III,Austin Huns III,NaN
117,Sat 01/29,14:00,TRU Men's Club D3,Austin Huns III,Grand Prairie Mavericks II,NaN
132,Sat 02/05,14:00,TRU Men's Club D3,Dallas Harlequins II,Austin Huns III,NaN
163,Sat 02/19,14:00,TRU Men's Club D3,Dallas Reds III,Austin Huns III,NaN
205,Sat 03/12,14:00,TRU Men's Club D3,Austin Huns III,Austin Blacks III,NaN
244,Sat 03/26,14:00,TRU Men's Club D3,Grand Prairie Mavericks II,Austin Huns III,NaN
265,Sat 04/02,14:00,TRU Men's Club D3,Austin Huns III,Dallas Harlequins II,NaN